<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Тестирование SVG</title>
</head>
<body>
    <p><small><a href="/">← назад</a></small></p>
    <p>Done in, ms<br>
        <strong id="result"></strong>
    </p>
    <p>Called, times<br>
        <strong id="counter"></strong>
    </p>
    <div id="container"></div>

    <script>
        var start = (new Date()).getTime();
        var sources = {{ sources|safe }};
    </script>

    <script>
        var elem;
        var iterCount = {{ iterCount }};
        var i = 0;
        var n = sources.length;
        var loaded = n;
        var result = document.getElementById('result');
        var counter = document.getElementById('counter');
        var container = document.getElementById('container');

        /**
         * Кодирование данных для передачи в POST-запросе
         * @param {Object} data
         * @returns {string}
         */
        function encodePostData(data) {
            var elem;
            var result = [];
            for (elem in data) {
                result.push(elem + '=' + encodeURIComponent(data[elem]));
            }
            return result.join('&');
        }

        /**
         * Асинхронная отправка данных
         * @param {String} url адрес запроса
         * @param {Object} data данные
         * @param {String|Function} [method] метод передачи данных
         * @param {Function} [callback] функция-обработчик успешного вызова
         */
        function sendResult(url, data, method, callback) {
            method = method || 'POST';
            if (!callback) {
                if (typeof method === "function") {
                    callback = method;
                    method = 'POST';
                }
            }
            var xmlhttp = new XMLHttpRequest();

            xmlhttp.open(method, url, true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(encodePostData(data));
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState != 4) {
                    return;
                }

                if (xmlhttp.status == 200) {
                    callback && callback(xmlhttp.responseText);
                }
            };
        }

        /**
         * Обработчик ответа от xmlhttp
         *
         * @param {String} data
         */
        function statHandler(data) {
            data = JSON.parse(data);

            result.innerHTML = data.time;
            counter.innerHTML = data.count;

            checkIterationState(data.count);
        }

        /**
         * Проверка достижения нужного числа итераций
         * @param {Number} iterNum
         */
        function checkIterationState(iterNum) {
            if (iterNum < iterCount) {
                setTimeout(function () {
                    location.reload();
                }, 100);
            }
        }

        /**
         * Вычисление результатов и отправка статистики
         */
        function getResult() {
            var end = (new Date()).getTime();
            var data = {
                time: (end - start).toString(),
                path: location.pathname
            };

            sendResult('/stat/', data, statHandler);
        }

        /**
         * Обработчик загрузки изображения
         */
        function onImageLoad() {
            loaded--;

            if (!loaded) {
                getResult();
            }
        }

        for (i; i < n; i++) {
            elem = document.createElement('img');
            elem.src = sources[i];
            container.appendChild(elem);

            elem.onload = onImageLoad;
        }
    </script>
</body>
</html>
